/* Add CSS for Success component */
table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    font-family:Helvetica;
  }
  
  table, th, td {
    border: 1px solid #bf7f7f;
    background-color: rgba(173, 216, 230, 0.466);
  } 
  
  th, td {
    padding: 8px;
  }
  
  th {
    background-color: #b99696;
  }
  
  /* Add CSS for Error message */
  .error-message {
    color: red;
    font-weight: bold;
  }
  